*{
    /* outline: 1px dotted red; */
}
img, h4{
    display: inline-block;
    vertical-align: top;
}

div.info{
    width: 440px;
    min-height: 200px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgb(0, 255, 64);
    border-radius: 3px;
    padding-left: 20px;
    margin-left: 20px;
}
div.inside{
    /* border: 1px dotted red; */
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
li{
    border: 1px solid brown;
}